@charset "UTF-8";

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

body {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  color: #1a1c23;
  background: #f7f1eb;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.logo__text {
  padding-left: 10px;
}

.logo img {
  width: 60px;
}

.logo span {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #fff;
  display: block;
}

span.bold {
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

span.small {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

span.red {
  color: #cf173c !important;
}

.title {
  font-size: 2.5em;
  line-height: 150%;
  text-align: center;
}

.subtitle {
  font-size: 1.25em;
  text-align: center;
  color: #54595F;
  font-family: Manrope, sans-serif;
  font-weight: 400;
}

.main__btn {
  color: #1a1c23;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 320px;
  background: #fff;
  font-size: 18px;
  position: relative;
  z-index: 2;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.icon-home:before {
  font-family: icomoon;
  color: #fff;
  font-size: 40px;
  content: "\e904";
}

.icon-car:before {
  font-family: icomoon;
  color: #fff;
  font-size: 40px;
  content: "\e903";
}

.icon-rem:before {
  font-family: icomoon;
  color: #fff;
  font-size: 40px;
  content: "\e909";
}

.icon-ref:before {
  font-family: icomoon;
  color: #fff;
  font-size: 40px;
  content: "\e908";
}

.icon-money:before {
  font-family: icomoon;
  color: #fff;
  font-size: 40px;
  content: "\e906";
}

.icon-zalog:before {
  font-family: icomoon;
  color: #fff;
  font-size: 40px;
  content: "\e90a";
}

.header__top {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
}

.header__contacts a.mail,
.header__contacts a.phone {
  color: #1a1c23;
  position: relative;
}

.header__contacts a.mail {
  border-right: 1px solid #c4c4c4;
  padding: 0px 30px;
  position: relative;
}

.header__contacts a.mail::before {
  content: "\e905";
  font-family: icomoon;
  color: #1a1c23;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__contacts a.phone {
  padding-left: 60px;
}

.header__contacts a.phone::before {
  content: "\e907";
  font-family: icomoon;
  color: #1a1c23;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.header a.header__btn {
  color: #cf173c;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.header__wrapper {
  margin: 0px 5%;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
}

.header .logo {
  grid-row-start: span 2;
  background: linear-gradient(90deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
  height: 100%;
  justify-content: center;
  width: 100%;
}

.header__promo {
  background: linear-gradient(-90deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  color: #fff;
}

.header__promo span.bold {
  padding-right: 20px;
  position: relative;
  padding-left: 30px;
}

.header__promo span.bold::before {
  content: "\e901";
  font-family: icomoon;
  color: #fff;
  position: absolute;
  font-size: 20px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.header .menu {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu a {
  padding: 10px 10px;
  padding-left: 40px;
  font-size: 18px;
  color: #1a1c23;
}

.mobile {
  display: none;
}

.mobile__menu-btn {
  display: none;
}

.mobile__menu {
  display: none;
}

.main {
  margin: 0px 5%;
  padding: 120px 0px;
  padding-left: 37vw;
  padding-right: 400px;
  position: relative;
  overflow: hidden;
}

.no-webp .main__bg{
  background-image: url("../img/mainbg-1.jpg"); }

.main__bg {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #646464;
  background-blend-mode: luminosity;
  animation: main-bg 4s ease forwards;
}

.main__bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, rgb(26, 28, 35) 0%, rgba(26, 28, 35, 0.950017507) 12%, rgba(26, 28, 35, 0.8659838936) 29%, rgba(26, 28, 35, 0) 100%);
}

.main h1,
.main h2 {
  color: #fff;
  position: relative;
  z-index: 2;
}

.main h1 {
  font-size: 3.5em;
  line-height: 110%;
  margin-bottom: 30px;
  transform: translateY(-100%);
  opacity: 0;
  animation: main-header 1s ease forwards;
}

.main h2 {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  transform: translateX(100%);
  opacity: 0;
  animation: main-text 1s ease forwards;
}

.main__wrapper {
  overflow: hidden;
}

.main__calc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 320px;
  background: #fff;
  font-size: 18px;
  position: relative;
  z-index: 2;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-top: 50px;
}

.main .main__btn {
  transform: translateY(100%);
  opacity: 0;
  color: #1a1c23;
  animation: main-btn 0.5s 1s ease forwards;
  margin-top: 50px;
}

.main__calc {
  justify-content: flex-start;
  padding: 0px 20px;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  background: #cf173c;
}

.main__calc::before {
  content: "\ea3c";
  font-family: icomoon;
  color: #fff;
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.main__abstr {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  animation: main-abstr 1s 1s ease forwards;
  max-width: 500px;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@keyframes main-header {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes main-text {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes main-btn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes main-abstr {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes main-bg {
  to {
    transform: scale(1.2);
  }
}

.advanced {
  padding: 80px 0px;
}

.advanced span {
  display: block;
  text-align: center;
}

.advanced .title {
  margin-bottom: 10px;
}

.advanced__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.advanced__item {
  text-align: center;
}

.advanced__item:hover .advanced__icon {
  transform: translateY(-10px);
}

.advanced__item:hover .advanced__link::before {
  background-color: #cf173c;
  color: #fff;
}

.no-webp .advanced__icon{
  background: url("../img/advanced__icon.png") no-repeat center; }

.advanced__icon {
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 0px auto;
  text-align: center;
  padding: 40px 0px;
  font-size: 1.25em;
  color: #54595F;
  margin-bottom: 10px;
  transition: 0.4s ease all;
}

.advanced__subtitle {
  font-size: 0.875em;
  color: #cf173c;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.advanced__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.advanced__text {
  color: #54595F;
}

.advanced__link {
  color: #1a1c23;
  display: inline-block;
  margin-top: 30px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  position: relative;
  padding-right: 40px;
  transition: 0.4s ease all;
}

.advanced__link:before {
  font-family: icomoon;
  content: "\ea3c";
  padding: 4px;
  border-radius: 50%;
  font-size: 16px;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  transition: 0.4s ease all;
}

.no-webp .needs{
  background-image: url(../img/needs-bg.jpg); }

.needs {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: #000;
  background-blend-mode: luminosity;
  position: relative;
}

.needs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.needs__wrapper {
  padding: 80px 0px;
  position: relative;
  z-index: 2;
}

.needs__header .title,
.needs__header .subtitle {
  text-align: left;
}

.needs__header .title {
  color: #fff;
  margin-bottom: 10px;
}

.needs__header .subtitle {
  color: #c9c5c2;
  margin-bottom: 50px;
}

.needs__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.needs__nav-item {
  padding: 35px 40px;
  background: rgba(26, 28, 35, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: 0.4s all ease;
}

.needs__nav-item span.small {
  color: #c9c5c2;
  font-size: 1em;
}

.needs__nav-item .item-title {
  font-size: 1.75em;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-top: 5px;
}

.needs__nav-item .icon {
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 40px;
}

.needs__nav-item .icon::before {
  font-family: icomoon;
  content: "\e900";
  font-size: 24px;
  color: #54595F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.needs__nav .active {
  background: #fff;
}

.needs__nav .active span.small {
  color: #54595F;
}

.needs__nav .active .item-title {
  color: #1a1c23;
}

.needs__nav .active .icon {
  background: #f7f1eb;
}

.needs__list {
  display: flex;
  gap: 50px;
  padding-top: 50px;
  display: none;
}

.needs__list-active {
  display: flex;
}

.needs__list-item {
  background: rgb(26, 28, 35);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 40px 39px 36px;
  color: #fff;
  position: relative;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50px);
  animation: needsShow 0.8s forwards ease;
  min-height: 295px;
}

.needs__list-item .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.needs__list-item .item-title {
  font-size: 1.125em;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.needs__list-item .line {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.needs__list-item .line::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #cf173c;
  position: absolute;
  top: 0;
  left: -80%;
  transition: all ease 0.4s;
}

.needs__list-item .item-text {
  display: block;
  color: #c9c5c2;
  font-size: 14px;
  margin-bottom: 10px;
}

.needs__list-item .item-promo {
  display: block;
  color: #c9c5c2;
}

.needs__list-item .icon-arrow {
  display: block;
  position: absolute;
  top: 40px;
  right: 39px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  z-index: 1;
}

.needs__list-item .icon-arrow::before {
  font-family: icomoon;
  content: "\ea3c";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 1;
}

.needs__list-item .icon-arrow::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #cf173c;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: -1;
  transition: all ease 0.4s;
}

.needs__list-item:hover .line::before {
  left: 0%;
}

.needs__list-item:hover .icon-arrow::after {
  transform: translateY(0);
}

.needs__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 0;
}

@keyframes needsShow {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.steps {
  padding: 80px 0px;
  background: #fff;
}

.steps__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding-top: 50px;
}

.steps__item {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
}

.steps__item-img {
  min-height: 300px;
  position: relative;
  pointer-events: none;
}

.steps__item-img img {
  min-height: 300px;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: grayscale(1);
  pointer-events: none;
  transition: 0.4s ease all;
}

.steps__item-text {
  pointer-events: none;
  padding: 10px 20px 20px;
}

.steps__item:hover .steps__header::before {
  transform: translateY(100%);
}

.steps__item:hover .steps__header::after {
  transform: translateY(-100%);
}

.steps__item:hover .steps__item-img img {
  filter: grayscale(0);
}

.steps__header {
  pointer-events: none;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 100%;
  background: linear-gradient(180deg, rgb(51, 127, 201) 20%, rgb(32, 87, 166) 100%);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 17px 20px 17px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.steps__header::before,
.steps__header::after {
  content: "";
  border: 30px solid transparent;
  position: absolute;
  transition: 0.4s ease all;
}

.steps__header::before {
  border-bottom: 40px solid rgba(255, 255, 255, 0.2);
  bottom: 0;
  right: 20px;
}

.steps__header::after {
  border-top: 40px solid rgba(255, 255, 255, 0.2);
  top: 0;
  right: 45px;
}

.steps__header .icon {
  position: relative;
  margin-left: 10px;
  transition: 0.4s ease all;
}

.steps__header .icon::before {
  font-family: icomoon;
  content: "\ea3c";
  color: #fff;
  font-size: 18px;
}

.calc {
  padding: 0px 0px 80px;
  background: #fff;
}

.calc__wrapper {
  background: #f7f1eb;
  display: flex;
}

.calc__img {
  position: relative;
  min-width: 330px;
}

.calc__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.calc__img img {
  display: block;
  filter: grayscale(1);
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

.calc .title {
  margin-bottom: 10px;
}

.calc .subtitle {
  margin-bottom: 50px;
}

.calc__main {
  padding: 50px 50px 50px 100px;
  width: 100%;
}

.calc__main h4 {
  font-size: 1.125em;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.calc__main input[type=range] {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

.calc__main input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #cf173c;
  height: 30px;
  width: 10px;
  cursor: grab;
}

.calc__main .inputs {
  position: relative;
  overflow: hidden;
  width: 500px;
}

.calc__main .calc__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc__main .calc__input span {
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 40px;
  border: 1px solid #c9c5c2;
  margin-left: 30px;
  position: relative;
}

.calc__main .calc__input .credit-money::after {
  content: " руб.";
  margin-left: 5px;
}

.calc__main .calc__input .credit-date::after {
  content: " мес.";
  margin-left: 5px;
}

.calc__main .calc__input-persent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.calc__main .calc__input-persent span {
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 40px;
  border: 1px solid #c9c5c2;
  margin-left: 30px;
}

.calc__main .calc__input-persent .credit-persent::after {
  content: " %";
  margin-left: 5px;
}

.calc__main .calc__output {
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  padding: 30px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.calc__main .calc__output-item {
  padding: 15px 50px;
}

.calc__main .calc__output-item h4 {
  font-size: 1.125em;
  color: #54595F;
  margin-bottom: 5px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
}

.calc__main .calc__output-item span {
  display: block;
  font-size: 1.5em;
  position: relative;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.calc__main .calc__output-item span::after {
  content: " руб.";
}

.calc__main .calc__output-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #f7f1eb;
  font-size: 18px;
  color: #1a1c23;
}

.calc__main .calc__output-item:nth-child(1),
.calc__main .calc__output-item:nth-child(3) {
  border-right: 1px solid #c9c5c2;
}

.calc__main .calc__output-item:nth-child(2) {
  border-bottom: 1px solid #c9c5c2;
}

.calc__main .calc__output-item:nth-child(1) span {
  font-size: 2.2em;
}

.calc__nav {
  position: absolute;
  right: -30px;
  top: 50px;
  z-index: 3;
}

.calc__nav-item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.calc__nav-item::before {
  content: "";
  transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
  background-image: linear-gradient(0deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.calc__nav-item:nth-child(1)::after {
  font-family: icomoon;
  color: #1a1c23;
  font-size: 30px;
  content: "\e906";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.calc__nav-item:nth-child(2)::after {
  font-family: icomoon;
  color: #1a1c23;
  font-size: 30px;
  content: "\e903";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.calc__nav-item:nth-child(3)::after {
  font-family: icomoon;
  color: #1a1c23;
  font-size: 30px;
  content: "\e904";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.calc__nav-item span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  left: -140px;
  padding: 7px 0px;
  width: 120px;
  font-size: 1.125em;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease;
}

.calc__nav-item span::after {
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -20px;
}

.calc__nav-active::before {
  transform: translate(-50%, -50%) scale(1);
}

.calc__nav-active::after {
  color: #fff !important;
}

.calc__nav-active span {
  opacity: 1;
  visibility: visible;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__img {
  height: 500px;
  min-width: 500px;
  position: relative;
}

.no-webp .banner__img .img{
  background-image: url("../img/banner.jpg"); }

.banner__img .img {
  position: absolute;
  right: 0;
  width: 380px;
  height: 100%;
  background-color: #646464;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__img .figure:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  width: 240px;
  background-color: #e5ded8;
  -webkit-clip-path: polygon(50% 0, 100% 0, 50% 40%, 100% 100%, 40% 100%, 0 40%);
          clip-path: polygon(50% 0, 100% 0, 50% 40%, 100% 100%, 40% 100%, 0 40%);
  z-index: 2;
}

.banner__img .figure:nth-child(3) {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 200px;
  background: #f7f1eb;
  -webkit-clip-path: polygon(80% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 50% 50%);
          clip-path: polygon(80% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 50% 50%);
  z-index: 1;
}

.banner__text {
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner__text span.small {
  font-size: 1.25em;
}

.banner__text h4 {
  font-size: 2.5em;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner__text span.text {
  line-height: 110%;
  font-size: 1.125em;
  color: #54595F;
}

.banner__text ul {
  padding: 30px 0px 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.banner__text ul li {
  position: relative;
  padding-left: 60px;
  font-size: 1.125em;
  color: #54595F;
}

.banner__text ul li::before {
  content: "";
  width: 50px;
  height: 50px;
  background: #cf173c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__text ul li:nth-child(1)::before {
  content: "\e906";
  font-family: icomoon;
}

.banner__text ul li:nth-child(2)::before {
  content: "\e902";
  font-family: icomoon;
}

.banner__text a {
  width: 320px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  background: #fff;
  color: #1a1c23;
}

.faq {
  padding: 80px 0px 120px;
  background: #fff;
}

.faq .title,
.faq .subtitle {
  text-align: left;
}

.faq .subtitle {
  margin-bottom: 50px;
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
}

.faq__main {
  width: 100%;
}

.faq__img {
  min-width: 500px;
  padding-right: 50px;
  position: relative;
}

.faq__img::before {
  contain: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.faq__img img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  display: block;
  filter: grayscale(1);
}

.faq__item {
  overflow: hidden;
  transition: 0.4s ease all;
  position: relative;
}

.faq__item-active .faq__question {
  color: #cf173c;
}

.faq__item-active .faq__question::before {
  color: #cf173c;
  transform: translateY(-50%) rotate(90deg);
}

.faq__item-active .faq__answer {
  opacity: 1;
  visibility: visible;
}

.faq__question {
  position: relative;
  border: 1px solid #f2ece7;
  padding: 15px 70px 15px 70px;
  font-size: 1.125em;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 2;
  background: #fff;
  transition: 0.4s all ease;
}

.faq__question::before {
  font-family: icomoon;
  content: "\ea3c";
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  transition: 0.4s ease all;
}

.faq__answer {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform-origin: top;
  transition: 0.4s ease all;
}

.footer {
  border-top: 1px solid #2f3139;
  padding: 30px 0px;
  background: #1a1c23;
}

.footer * {
  color: #fff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .logo {
  margin-bottom: 30px;
}

.footer .copyright {
  font-size: 14px;
  color: #c9c5c2;
}

.footer a.phone {
  font-size: 1.25em;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  text-align: right;
}

.footer a.phone::before {
  content: "\e907";
  font-family: icomoon;
  padding-right: 10px;
}

.footer span.work-time {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #c9c5c2;
}

.footer a.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin-top: 30px;
  background: #fff;
  color: #1a1c23;
}

.form {
  padding: 80px 0px;
  position: relative;
  background: #1a1c23;
}

.form .title,
.form .subtitle {
  text-align: left;
  line-height: 110%;
}

.form label,
.form .title,
.form p {
  color: #fff;
}

.form .subtitle {
  color: #c9c5c2;
  margin: 10px 0px 30px;
}

.form .safe {
  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.form .safe::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../img/icons/safe.svg) no-repeat center;
  background-size: cover;
  filter: invert(1);
}

.form__wrapper {
  max-width: 70%;
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form__img {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.form__item {
  padding: 10px 0px;
  position: relative;
}

.form__item label {
  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  display: block;
  cursor: pointer;
}

.form__item input[type=text],
.form__item input[type=tel] {
  margin-top: 5px;
  display: block;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 1em;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1a1c23;
  color: #fff;
  transition: 0.4s all linear;
}

.form__item input[type=text]:focus,
.form__item input[type=tel]:focus {
  outline: 2px solid #cf173c;
}

.form__item input[type=checkbox] {
  display: none;
}

.form__item:nth-child(6) label {
  padding-left: 30px;
  position: relative;
}

.form__item:nth-child(6) label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1) url(../img/icons/ok.svg) no-repeat center;
  border: 1px solid #000;
  background-size: 15px 15px;
  filter: invert(1);
}

.form__item:nth-child(5) input {
  cursor: pointer;
}

.form button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #cf173c;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.form .goal__list {
  position: absolute;
  width: 300px;
  background: #fff;
  z-index: 10;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform-origin: left;
  transition: 0.4s all ease;
}

.form .goal__list-item {
  color: #1a1c23;
  font-size: 16px;
  padding: 15px 20px;
  border-bottom: 1px solid #c9c5c2;
  cursor: pointer;
  transition: all 0.4s ease;
}

.form .goal__list-item:hover {
  background: #cf173c;
  color: #fff;
}

.form .goal__list-item:last-child {
  border-bottom: none;
}

.form .goal__list::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  left: -20px;
}

.form .goal__list-active {
  transform: translateX(105%) translateY(-50%);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1750px) {
  .main {
    padding-left: 37%;
    padding-right: 50px;
  }

  .main__abstr {
    max-width: 300px;
  }
}

@media (max-width: 1400px) {
  .header__top {
    padding: 10px calc((100vw - 1200px) / 2);
  }

  .header__wrapper {
    margin: 0px calc((100vw - 1200px) / 2);
  }

  .main {
    margin: 0px calc((100vw - 1200px) / 2);
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0px 10px;
  }

  .header__top {
    padding: 10px 10px;
  }

  .header__wrapper {
    margin: 0px 10px;
  }

  .main {
    margin: 0px 10px;
  }
}

@media (max-width: 1100px) {
  .logo {
    padding: 0px 10px;
  }

  .logo img {
    width: 40px;
  }

  .logo span {
    font-size: 1.125em;
  }

  .logo span.small {
    font-size: 12px;
  }

  .title {
    font-size: 2em;
    line-height: 130%;
  }

  .header__wrapper {
    margin-top: 20px;
    padding-top: 0px;
    background: #fff;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
  }

  .header .logo {
    grid-row-start: 1;
    background: linear-gradient(90deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
  }

  .header__promo {
    grid-column-start: span 2;
    background: linear-gradient(90deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
  }

  .header .menu {
    padding: 30px 0px;
    justify-content: space-around;
  }

  .header .menu a {
    padding: 10px 10px;
    padding-left: 0px;
    font-size: 16px;
    color: #1a1c23;
  }

  .main {
    padding: 60px 0px;
    padding-left: 50px;
    padding-right: 20%;
  }

  .main__bg:before {
    background: rgba(0, 0, 0, 0.7);
  }

  .main h1,
  .main h2 {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .main h1 {
    font-size: 3em;
  }

  .main .main__btn {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .main__calc {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20px;
  }

  .advanced__wrapper {
    gap: 20px;
  }

  .advanced__text {
    font-size: 0.875em;
  }

  .needs__nav {
    gap: 10px;
  }

  .needs__nav-item {
    padding: 25px 30px;
  }

  .needs__nav-item span.small {
    font-size: 0.875em;
  }

  .needs__nav-item .item-title {
    font-size: 1.25em;
  }

  .needs__nav-item .icon {
    width: 40px;
    height: 40px;
  }

  .needs__list {
    flex-direction: column;
    gap: 20px;
  }

  .steps__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 30px;
  }

  .steps__item {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  }

  .steps__item-img {
    min-height: 240px;
    position: relative;
    pointer-events: none;
  }

  .steps__item-img img {
    min-height: 240px;
    min-width: 100%;
  }

  .steps__header {
    left: 0px;
  }

  .calc__wrapper {
    flex-direction: column;
  }

  .calc__img {
    min-width: 100%;
    max-height: 400px;
  }

  .calc__img img {
    max-height: 400px;
    min-width: 100%;
  }

  .calc__main {
    padding: 50px 30px;
    width: 100%;
  }

  .calc__nav {
    right: 30px;
    top: 30px;
  }

  .calc__nav-item {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }

  .banner__img {
    display: none;
  }

  .faq__img {
    display: none;
  }
}

@media (max-width: 728px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 1em;
  }

  .main__btn {
    width: 100%;
  }

  .header__contacts a.mail,
  .header__contacts a.phone {
    font-size: 14px;
  }

  .header__contacts a.mail {
    padding: 0px 20px;
  }

  .header__contacts a.phone {
    padding-left: 40px;
  }

  .header__contacts a.phone::before {
    left: 20px;
  }

  .header a.header__btn {
    display: none;
  }

  .header__wrapper {
    grid-template-columns: 70% 1fr;
  }

  .header .logo {
    grid-row-start: 1;
    background: linear-gradient(90deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
    padding: 30px 0px;
  }

  .header__promo {
    padding: 5px 0px;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(138, 15, 61) 0%, rgb(207, 23, 60) 100%);
  }

  .header__promo span.bold {
    font-size: 16px;
    padding-right: 0px;
    padding-left: 24px;
  }

  .header__promo span.bold::before {
    font-size: 14px;
    left: 5px;
  }

  .header__promo span {
    font-size: 12px;
  }

  .header .menu {
    display: none;
  }

  .mobile__menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    position: relative;
  }

  .mobile__menu-btn:before {
    font-family: icomoon;
    color: #cf173c;
    font-size: 40px;
    content: "\e90b";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .mobile {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.4s all ease;
    z-index: 900;
  }

  .mobile__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.4s all ease;
  }

  .mobile__menu {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    background: #cf173c;
    z-index: 1000;
    padding: 90px 20px;
    transform: translateX(-100%);
    transition: 0.4s 0.4s all ease;
  }

  .mobile__menu .logo {
    margin-bottom: 50px;
  }

  .mobile__menu .menu a {
    display: block;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0px;
    font-size: 18px;
    position: relative;
  }

  .mobile__menu .menu a:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .mobile__menu .menu a::before {
    content: "\e900";
    font-family: icomoon;
    font-size: 20px;
    width: 32px;
    height: 32px;
    background: #1a1c23;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile__menu-contacts {
    margin-top: 50px;
  }

  .mobile__menu-contacts a {
    display: block;
    color: #fff;
    padding-left: 40px;
    margin-bottom: 20px;
    position: relative;
  }

  .mobile__menu-contacts a::before {
    content: "";
    font-family: icomoon;
    font-size: 14px;
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile__menu-contacts a:first-child::before {
    content: "\e907";
  }

  .mobile__menu-contacts a:last-child::before {
    content: "\e905";
  }

  .mobile__menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
  }

  .mobile__menu-close span {
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .mobile__menu-close span:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .mobile__menu-close span:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .mobile-active {
    transform: translateX(0);
  }

  .mobile-active .mobile__menu {
    transform: translateX(0);
  }

  .main {
    padding: 60px 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main__bg:before {
    background: rgba(0, 0, 0, 0.7);
  }

  .main h1,
  .main h2 {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .main h1 {
    font-size: 2em;
  }

  .main h2 {
    font-size: 1em;
  }

  .main__abstr {
    max-width: 40%;
  }

  .main__calc {
    width: 100%;
  }

  .advanced {
    padding: 50px 0px;
  }

  .advanced__wrapper {
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
  }

  .advanced__icon {
    width: 120px;
    height: 120px;
    padding: 30px 0px;
    font-size: 1em;
    background-size: 100px 100px;
  }

  .needs__wrapper {
    padding: 50px 0px;
  }

  .needs__header .subtitle {
    margin-bottom: 30px;
  }

  .needs__nav {
    flex-direction: column;
    gap: 10px;
  }

  .steps {
    padding: 50px 0px;
  }

  .steps__list {
    grid-template-columns: 1fr;
  }

  .calc__main {
    padding: 30px 20px;
  }

  .calc__main h4 {
    font-size: 1.125em;
    font-family: Manrope, sans-serif;
    font-weight: 700;
  }

  .calc__main input[type=range] {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
  }

  .calc__main input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #cf173c;
    height: 30px;
    width: 10px;
    cursor: grab;
  }

  .calc__main .inputs {
    position: relative;
    overflow: hidden;
    width: 500px;
  }

  .calc__main .calc__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 20px;
  }

  .calc__main .calc__input span {
    font-size: 14px;
    min-width: 120px;
    margin-left: 10px;
  }

  .calc__main .calc__input-persent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
  }

  .calc__main .calc__input-persent span {
    font-size: 14px;
    min-width: 120px;
    margin-left: 10px;
  }

  .calc__main .calc__output {
    padding: 20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .calc__main .calc__output-item {
    padding: 0px 0px;
  }

  .calc__main .calc__output-item:nth-child(1) {
    grid-column-start: span 2;
  }

  .calc__main .calc__output-item:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: 4;
    padding-top: 20px;
  }

  .calc__main .calc__output-item h4 {
    font-size: 14px;
  }

  .calc__main .calc__output-item span {
    font-size: 1em;
  }

  .calc__main .calc__output-item:nth-child(1),
  .calc__main .calc__output-item:nth-child(3) {
    border-right: none;
  }

  .calc__main .calc__output-item:nth-child(2),
  .calc__main .calc__output-item:nth-child(4) {
    border-bottom: none;
  }

  .calc__main .calc__output-item:nth-child(2) {
    padding-right: 10px;
    border-right: 1px solid #c9c5c2;
  }

  .calc__main .calc__output-item:nth-child(4) {
    padding-left: 10px;
  }

  .calc__main .calc__output-item:nth-child(1) {
    padding-bottom: 20px;
  }

  .calc__main .calc__output-item:nth-child(1) span {
    font-size: 2.2em;
  }

  .banner__text {
    padding: 30px 0px;
  }

  .banner__text span.small {
    font-size: 14px;
  }

  .banner__text h4 {
    font-size: 24px;
  }

  .banner__text span.text {
    font-size: 1em;
  }

  .banner__text ul {
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 0px;
  }

  .banner__text a {
    width: 100%;
  }

  .faq {
    padding: 50px 0px 80px;
  }

  .faq .subtitle {
    margin-bottom: 30px;
  }

  .faq__question {
    padding: 15px 50px 15px 50px;
  }

  .faq__question::before {
    left: 20px;
  }

  .faq__answer {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer .logo {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer .copyright {
    text-align: center;
    display: block;
    font-size: 12px;
  }

  .footer a.phone {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 5px;
  }

  .footer a.phone::before {
    content: "\e907";
    font-family: icomoon;
    padding-right: 10px;
  }

  .footer span.work-time {
    text-align: center;
  }

  .footer a.footer__btn {
    width: 100%;
    margin-bottom: 30px;
  }

  .form {
    padding: 50px 0px;
  }

  .form .safe {
    font-size: 14px;
  }

  .form__wrapper {
    max-width: 100%;
    padding: 30px 20px;
    position: relative;
    z-index: 2;
    background: rgba(26, 28, 35, 0.9);
  }

  .form__img {
    width: 100%;
  }

  .form__item label {
    font-size: 1em;
  }

  .form__item:nth-child(6) label {
    font-size: 14px;
  }

  .form .goal__list {
    width: 100%;
    transform: translateX(0%) translateY(-100%);
    right: 0;
    transform-origin: bottom;
  }

  .form .goal__list-item {
    font-size: 14px;
    padding: 10px 20px;
  }

  .form .goal__list::before {
    top: 100%;
    transform: translateX(-50%) translateY(0%);
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    left: 50%;
  }

  .form .goal__list-active {
    transform: translateX(0%) translateY(-110%);
  }
}

.webp .main__bg{ background-image: url(../img/mainbg-1.webp); }

.webp .advanced__icon{ background: url(../img/advanced__icon.webp) no-repeat center; }

.webp .needs{ background-image: url(../img/needs-bg.webp); }

.webp .banner__img .img{ background-image: url(../img/banner.webp); }